<ul class="menu">
    <a href="#profile" class="active"><li>Profile</li></a>
    <a href="#messages"><li>Messages</li></a>
    <a href="#friends"><li>Friends</li></a>
    <a href="#interests"><li>Interests</li></a>
    <a href="#groups"><li>Groups</li></a>
    <a href="#news"><li>News</li></a>
    <a href="#settings"><li>Settings</li></a>
    <a href="#log-out"><li>Log out</li></a>
</ul>
